/*StAuth10244: I Riya Riya, 000922180 certify that this material is my original work. 
No other person's work has been used without due acknowledgement. 
I have not made my work available to anyone else.*/
body {
  background-color: #f8f9fa;
}

#map {
  border: 2px solid #343a40;
  border-radius: 5px;
}

h1 {
  color: #343a40;
}
